*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  font-weight: normal;
  font-size: 16px;
  background-color: inherit;  
}

img,
#header{
  user-select: none;
  -webkit-user-select: none;  
  -webkit-user-drag: none;
}

a{
  text-decoration: none;
  color: inherit;  
}

@font-face {
  font-family: 'Quicksand';
  src: url('/assets/Quicksand-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Quicksand';
  overflow: hidden;
  color: #1a1a20;
}